@import "global.scss";
@import "vars.scss";

$task-height: 40px;

.task {
  height: $task-height;
  border-radius: 2px;
  display: flex;
  flex-direction: row;

  > div {
    padding: 10px;
  }

  .status {
    @extend .centrified;
    flex: 0 0 $task-height;
    border-left: 1px solid $darkest;
    cursor: pointer;

    .done {
      color: green;
    }

    .not-done {
      color: red;
    }
  }

  .label {
    flex: 1;
  }
}