@import "global.scss";
@import "vars.scss";

$task-height: 40px;
$task-border: 1px solid rgba($darkest, 0.3);


.task {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  border: $task-border;
  margin-bottom: 1px;
  height: $task-height;
  border-radius: 2px;

  .label {
    @extend .centrified;
    justify-content: flex-start;
    padding-left: 10px;
    flex: 1;
  }

  > div {
    padding: 10px;
  }

  .status {
    @extend .centrified;
    flex: 0 0 $task-height;
    border-left: $task-border;
    cursor: pointer;

    .done {
      color: green;
    }

    .delete {
      color: red;
    }
  }
}